body, html {
    margin: 0;
    background-image: url(bilder/background.jpg);
    background-color: rgba(52, 52, 52,1);
}

button {
    font-size: 30px;
    margin: 0px 0px 20px 29px;
    background: linear-gradient(to bottom right,rgb(202, 202, 222),rgb(162, 162, 192),rgb(132, 132, 162),rgb(102, 102, 132));
    box-shadow: 0px 0px 3px whitesmoke;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

button:hover {
    box-shadow: 0px 0px 6px whitesmoke;
}

fieldset {
    border: none;
    border-top: 1px solid whitesmoke;
}

footer {
    position: fixed;
    bottom: 0;
}

form {
    width: 50%;
    max-width: 100%;
    box-shadow: 0px 5px 5px rgb(52, 52, 52);
    margin-left: 1.5%;
}

h1 {
    color: linear-gradient(to bottom right, blue, red);
    font-size: 50px;
}

input {
    margin: 5px 0px;
}

input[type=file] {
    color: whitesmoke;
}

label {
    color: whitesmoke;
    font-size: 20px;
}

legend {
    background-color: rgba(22, 22, 22, 0);
    color: whitesmoke;
    border: none;
    font-size: 25px;
    position: relative;

}

nav {
    display: block;
    text-align: center;
}

textarea {
    margin-top: 10px;
}

h1, h2 {
    padding-left: 5%;
    margin: 0;
    color: whitesmoke;
    font-family: 'IM Fell English SC', serif;
}

h1 {
    padding-top: 30px;
}

.page-welcome h2 {
    padding-top: 60px;
    font-size: 30px;
    padding-top: 50px;
}

i, p, span, a {
    color: whitesmoke;
}

i:hover {
    text-shadow: 0px 0px 10px rgb(140, 150, 180);
}

form, nav, footer {
    background: linear-gradient(to bottom, rgb(122, 122, 122), rgb(52, 52, 52), rgb(22, 22, 22));
}

nav, footer {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    z-index: 1;
}

ul {
    color: whitesmoke;
}

#almen-ink-descriptor {
    position: relative;
    top: -10px;
}

#contact {
    position: relative;
    left: 2%;
}

#copyright {
    text-align: right;
}

#copyright p {
    margin-right: 20px;
}

#description {
    position: relative;
    top: -1px;
}

#home-butt {
    display: none;
}

#input {
    padding: 15px;
}

#send {
    margin-left: 20px;
}

#social-media {
    text-align: center;
    min-width: 33%;
    max-width: 100%;
}

#social-media a {
    padding-left: 1.5rem;
}

.fa-facebook-square {
    color: rgb(66 103 178);
}

.fa-google-play {
    color: rgb(1,135,95);
}

.fa-instagram-square {
    color: rgb(131, 58, 180);
}

.gallery {
    background: linear-gradient(to bottom, rgb(122, 122, 122), rgb(52, 52, 52), rgb(22, 22, 22));
    width: 80%;
    overflow-y: scroll;
    height: 400px;
    margin-top: 30px;
}

.image-description {
    text-align: center;
}

.image-description p {
    margin-top: 0;
    margin-bottom: 10px;
}

.nav-link {
    font-size: 2.5rem;
    padding: 0rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2;
}

.nav-link:hover {
    color: rgb(140, 150, 180);
    border-left: 2px ridge rgb(140, 150, 180);
    border-right: 2px ridge rgb(140, 150, 180);
}

.page-welcome, a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.page-welcome {
    text-shadow: 0px 3px 5px black;
    background: linear-gradient(to bottom, rgba(122, 122, 122, 0.6), rgba(52, 52, 52), rgba(22, 22, 22, 1));
}

.inline-block {
    display: inline-block;
}

.tattoo-div {
    display: inline-block;
    margin: 5px 20px;
}

#contact {
    position: relative;
    left: 2%;
}

footer p  {
    font-size: 1.1rem;
}

footer span {
    font-weight: 700;
}

.third {
    width: 33%;
}

.block {
    display: block;
}

.gallery legend {
    padding: 10px 0px 0px 30px;
    font-size: 2rem;
}

.page-welcome p {
    padding-left: 5%;
}

@media only screen and (max-width: 600px) {
    form, .page-welcome {
      width: 100%;
      max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .navlink a {
      font-size: 2rem;
      padding: 20%;
    }
}

@media only screen and (max-width: 600px) {
    #contact {
      display: none;
    }
}

@media only screen and (max-width: 1000px) {
    #copyright {
      display: none;
    }
}

@media only screen and (max-width: 600px) {
    #social-media {
      width: 75%;
      padding: 10px 0px;
      position: relative;
    }
}

@media only screen and (max-width: 700px) {
    #home-butt {
      display: inline-block;
      width: 20%;
    }
}

.page-welcome p, .page-welcome span, li {
    font-size: 20px;
}

@media screen and (max-width: 640px)
{
    body, html{
        width: 100vw;
        overflow-x: hidden;
    }
}

@media not screen and (max-width: 600px) {
    .mobile-break {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    form{
        margin-left: 0;
    }
}

li {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) { 
    .mobile-spacer {
    height: 65px;
}}

@media screen and (max-width: 900px) { 
    .flip-spacer {
    height: 80px;
}}

@media screen and (max-width: 900px) { 
    .small-flip-spacer {
    height: 40px;
}}

.pdf-main {
    font-size: 30px;
    padding-left: 5%;
}

ul {
    padding-left: 5%;
}

p {
    line-height: 24pt;
}

li a {
    font-size: 25px;
}

.spacer {
    height: 110px;
}

@media screen and (max-width: 900px) {
    .spacer {
        display: none;
    }
}

.left-info {
    width: 40%;
}

@media screen and (max-width: 900px) { 
    .left-info {
    width: 85%;
}}


